/**
 * margin-[type]: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
 */
@mixin fluid-margin($type, $min-margin, $max-margin, $min-vw, $max-vw) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-margin);
  $u4: unit($max-margin);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      margin-#{$type}: $min-margin;
      @media screen and (min-width: $min-vw) {
        margin-#{$type}: calc(#{$min-margin} + #{strip-unit($max-margin - $min-margin)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        margin-#{$type}: $max-margin;
      }
    }
  }
}