@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700&display=swap');
@import "fluid-margin";
@import "fluid-padding";
@import "fluid-font-size";

@font-face {
    font-family: 'Georgia';
    src: url('/fonts/Matahari-800ExtraBold.eot');
    src: url('/fonts/Matahari-700Bold.ttf')  format('truetype');
}

$Lato: 'Lato', sans-serif;
$Georgia: 'Georgia';

$app-container-width: 1200px;
$lg-vp-container-width: 992px;
$sm-vp-container-width: 768px;
$xs-vp-container-width: 576px;

$color-white: #FFFFFF;
$color-blackRock: #150433;
$color-razzmatazz-light: #F61067;
$color-razzmatazz: #DC0254;
$color-violet-red: #F93E85;
$color-tundora: #424242;
$color-black: #000000;

html {
    height: 100%;
}
body {
    height: 100%;
    font-family: $Lato;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
a {
    color: white;
    text-decoration: none;
}
a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.section-container {
    margin: 0 auto;
    max-width: $app-container-width;
    padding: 0 30px;
}
.resize-img {
    max-width:100%; 
    height:auto;
    width:auto;
    max-height: 100%;
}
.background_header {
    background: $color-white !important;
}
.link-active {
    color: $color-razzmatazz-light !important;
}
.header-link-active {
    border-bottom: 2px solid $color-white;
    padding-bottom: 5px;
}
.header-scroll-link-active {
    border-bottom: 2px solid $color-razzmatazz-light;
    padding-bottom: 5px;
}
.button {
    padding: 20px 50px;
    background: $color-razzmatazz-light;
    border-radius: 4px;
    color: $color-white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    border: none;
    cursor: pointer;
}
.button:hover {
    background: $color-violet-red;
}
.button:active {
    background: $color-razzmatazz;
}
.text-pink {
    color: $color-razzmatazz-light;
}
textarea {
    resize: none;
    border: 1px solid $color-tundora;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 17px 0 0 30px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-tundora;
}
textarea:focus, input:focus{
    outline: none;
}
.fixedPosition {
    overflow: hidden;
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .header-container {
        padding: 35px 0;
        display: flex;
        @media (min-width: 320px) and (max-width: 640px) {
            flex-direction: column;
        }
        &__links {
            padding-left: 232px;
            @media (min-width: 320px) and (max-width: 1023px) {
                display: none;
            }
        }
        &__links nav li:not(:first-child) {
            @include fluid-padding('left', 20px, 70px, 100px, $app-container-width);
        }
        &__links nav li a {
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;

            color: $color-white;
            display: inline-flex;
            padding-bottom: 10px;
            overflow: hidden;
        }
        &__links nav li a:not(.header-link-active):before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $color-white;
            transform: translateX(-100%);
        }
        &__links nav li a:hover:not(.header-link-active):before {
            transform: translateX(0);
        }
        &__links nav li a:active {
            color: $color-razzmatazz-light;
        }
        &__mobile-icon {
            @media (min-width: 1024px) {
                display: none;
            }
        }
    }
    .header-container-after-scroll {
        padding: 22px 0;
        display: flex;
        @media (min-width: 320px) and (max-width: 640px) {
            flex-direction: column;
        }
        &__links {
            padding-left: 232px;
            @media (min-width: 320px) and (max-width: 1023px) {
                display: none;
            }
        }
        &__links nav li:not(:first-child) {
            @include fluid-padding('left', 20px, 70px, 100px, $app-container-width);
        }
        &__links nav li a {
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;

            color: $color-black;
            display: inline-flex;
            padding-bottom: 10px;
            overflow: hidden;
        }
        &__links nav li a:not(.header-scroll-link-active):before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $color-razzmatazz-light;
            transform: translateX(-100%);
        }
        &__links nav li a:hover:not(.header-scroll-link-active):before {
            transform: translateX(0);
        }
        &__links nav li a:active {
            color: $color-razzmatazz-light;
        }
        &__mobile-icon {
            @media (min-width: 1024px) {
                display: none;
            }
        }
        &__menu {
            background: $color-white;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 200;
            padding: 20px;
            overflow-y: hidden;
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__links-mobile {
            height: 100%;
            padding-top: 150px;
        }
        &__links-mobile nav ul {
            display: flex;
            flex-direction: column;
        }
        &__links-mobile nav li a {
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 24px;
            color: $color-black;
            display: inline-flex;
        }
        &__links-mobile nav li:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}
.banner {
    height: 100vh;
    @media (max-height: 576px) and(orientation: landscape) {
        height: 700px !important;
    }
    .banner-container {
        height: 100%;
        position: relative;
        &__first-section, &__second-section, &__third-section {
            padding-left: 150px;
            @include fluid-padding('left', 50px, 150px, 320px, $app-container-width);
            @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                padding-left: 0 !important;
            }
            background: url(/img/Rectangle.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            z-index: 1;
            height: 100vh;
            @media (max-height: 576px) and(orientation: landscape) {
                height: 700px !important;
            }
            &::before { 
                background: #5E239D;
                mix-blend-mode: multiply;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.85;
                z-index: -1;
            }
        }
    }
}
.promo {
    background: $color-blackRock;
    .promo-container { 
        padding-top: 159px;
        @include fluid-padding('bottom', 35px, 197px, $xs-vp-container-width, $app-container-width);
        @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
            padding-bottom: 30px;
        }
        .row {
            display: flex;
            @media (min-width: 320px) and (max-width: 992px) {
                flex-direction: column;
            }
            @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                padding-bottom: 50px;
            }
            .col-left, .col-right {
                max-width: 50%;
                width: 100%;
                @media (min-width: 320px) and (max-width: 992px) {
                    max-width: 100%;
                }
            }
            .col-left {
                margin-right: 20px;
                @media (min-width: 320px) and (max-width: 992px) {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0;
                }
            }
            .col-right {
                margin-left: 20px;
                @media (min-width: 320px) and (max-width: 992px) {
                    padding-top: 50px;
                    margin-right: 0;
                }
            }
            .col-right {
                position: relative;
                text-align: right;
                @media (min-width: 320px) and (max-width: $lg-vp-container-width) {
                    text-align: center;
                }
                &--pink-square {
                    max-height: 516px;
                    height: 37vw;
                    @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                        height: 50vw;
                        width: 50vw;
                    }
                }
                &--promo-photo {
                    position: absolute;
                    top: 50px;
                    right: 50px;
                    width: 40vw;
                    max-height: 516px;
                    @media (min-width: $xs-vp-container-width) and (max-width: 992px) {
                        top: 27%;
                        left: 15%;
                        right: 0;
                    }
                    @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                        width: 60vw;
                        top: 28%;
                        left: 2%;
                    }
                }
            }
        }
        &__title {
            font-family: $Georgia;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 157%;
            margin-top: 50px;
            @include fluid-margin('bottom', 24px, 44px, 100px, $app-container-width);
            @include fluid-font-size(28px, 50px, $lg-vp-container-width, $app-container-width);
            @media (min-width: 320px) and (max-width: $lg-vp-container-width) {
                margin-top: 0;
                font-size: 32px;
            }
            @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                margin-top: 0;
            }

            color: $color-white;
        }
        &__description {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 157%;

            color: $color-white;
            max-width: 378px;
            padding-bottom: 69px;
            @include fluid-padding('bottom', 34px, 69px, 100px, $app-container-width);
            @include fluid-font-size(21px, 25px, $lg-vp-container-width, $app-container-width);
            @media (min-width: 320px) and (max-width: 992px) {
                text-align: center;
                font-size: 19px;
            }
        }
    }
}
.help {
    background: $color-white;
    .help-container {
        @include fluid-padding('top', 35px, 120px, $xs-vp-container-width, $app-container-width);
        @include fluid-padding('bottom', 35px, 120px, $xs-vp-container-width, $app-container-width);
        @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
            padding: 30px 0;
        }
        .row {
            display: flex;
            @media (min-width: 320px) and (max-width: $lg-vp-container-width) {
                flex-direction: column;
                align-items: center;
            }
            .col-left, .col-right {
                width: 100%;
                @media (min-width: 320px) and (max-width: $lg-vp-container-width) {
                    max-width: 100% !important;
                }
            }
            .col-left {
                max-width: 60%;
                margin-right: 30px;
                position: relative;
                &--pink-rectangle {
                    max-height: 866px;
                    @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                        max-height: 433px;
                        height: 95vw;
                    }
                }
                &--man {
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                        width: 70vw;
                        top: 25px;
                        left: 25px;
                    }
                }
                @media (min-width: 320px) and (max-width: $lg-vp-container-width) {
                    margin-right: 0;
                }
            }
            .col-right {
                max-width: 40%;
                margin-left: 80px;
                @media (min-width: $xs-vp-container-width) and (max-width: $lg-vp-container-width) {
                    margin-left: 0;
                    padding-top: 80px;
                    text-align: center;
                }
                @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                    padding-top: 40px;
                    margin-left: 0;
                }
                @media (min-width: 320px) and (max-width: #{$lg-vp-container-width - 1}) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                 }
                &__text {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 157%;
                    color: $color-tundora;
                }
                &__title {
                    font-family: $Georgia;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 50px;
                    @include fluid-font-size(28px, 50px, $lg-vp-container-width, $app-container-width);
                    line-height: 157%;

                    color: $color-blackRock;
                    margin-bottom: 29px;
                    margin-top: 10px;
                    @media (min-width: 320px) and (max-width: $lg-vp-container-width) {
                        font-size: 32px;
                    }
                }
                .form {
                    max-width: 444px;
                    .error {
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 12px;
                        color: $color-razzmatazz-light;
                        position: relative;
                    }
                    .form-group {
                        padding: 10px;
                        border: 1px solid $color-black;
                        box-sizing: border-box;
                        border-radius: 4px;
                        margin: 10px 0;
                        position: relative;
                        .field-input {
                            width: 80%;
                            margin-left: -30px;
                        }
                        .field-input-phone {
                            width: 80%;
                            margin-left: -55px;
                        }
                        .field-input-email {
                            width: 80%;
                            margin-left: -45px;
                        }
                    }
                    .error-email {
                        padding-bottom: 10px;
                    }
                    .form-group>label {
                        padding-left: 5px;
                        padding-right: 5px;
                        position:relative;
                        top:-20px;
                        left:20px;
                        background-color: $color-white;
                        font-family: Lato;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 2px;
                        color: $color-tundora;
                    }
                    .form-group>input {
                        border:none;
                    }
                    input {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: $color-tundora;
                    }
                    .container-checkbox {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px 0;
                        @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                            flex-direction: column;
                        }
                        .custom-checkbox {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                        }
                        .custom-checkbox + label {
                            display: inline-flex;
                            align-items: center;
                            user-select: none;
                        }
                        .custom-checkbox + label::before {
                            content: '';
                            display: inline-block;
                            width: 1em;
                            height: 1em;
                            flex-shrink: 0;
                            flex-grow: 0;
                            border: 1px solid $color-blackRock;
                            border-radius: 0.25em;
                            margin-right: 15px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 50% 50%;
                        }
                        .custom-checkbox:checked + label::before {
                            border-color: $color-blackRock;
                            background-color: $color-blackRock;
                            background-image: url(/img/arrow.png);
                        }
                    }
                    .container-radio {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 20px;
                        @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
                            flex-direction: column;
                        }
                        .custom-radio > input {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                        }
                    
                        .custom-radio > span {
                            display: inline-flex;
                            align-items: center;
                            user-select: none;
                        }
                        .custom-radio > span::before {
                            content: '';
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                            flex-grow: 0;
                            border: 1px solid $color-blackRock;
                            border-radius: 50%;
                            margin-right: 12px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 50% 50%;
                        }
                        .custom-radio>input:checked+span::before {
                            background-image: url(/img/circle.png);
                        }
                    }
                    .icons {
                        position: absolute;
                        top: 10px;
                        right: 33px;
                    }
                }
                .modal {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2000;
                    display: table;
                    transition: opacity .3s ease;
                    &-wrapper {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 20px;
                    }
                    &-header {
                        text-align: right;
                        .close-modal {
                            cursor: pointer;
                        }
                    }
                    &-container {
                        background: #fff;
                        max-width: 700px;;
                        border-radius: 5px;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
                        transition: all .3s ease;
                        margin: 0 auto;
                        padding: 30px;
                        &-body {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                        &__icon {
                            text-align: center;
                            padding-bottom: 30px;
                        }
                        &__title {
                            font-family: Georgia;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 30px;
                            @include fluid-font-size(24px, 30px, 320px, $xs-vp-container-width);
                            line-height: 50px;
                            text-align: center;
                            color: $color-black;
                            max-width: 650px;
                        }
                        &__description {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &__description div {
                            font-family: Lato;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            @include fluid-font-size(14px, 16px, 320px, $xs-vp-container-width);
                            line-height: 36px;
                            max-width: 500px;
                            color: $color-tundora;
                            text-align: center;
                        }
                    }
                    &-footer {
                      margin-top: 15px;
                    }
                }
                .button {
                    margin-top: 39px;
                }
            }
        }
    }
}
.footer {
    background: $color-blackRock;
    .footer-container {
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 320px) and (max-width: 640px) {
            flex-direction: column;
        }
        &__links {
            @media (min-width: 320px) and (max-width: 640px) {
                padding: 30px 0;
            }
        }
        &__links nav li:not(:first-child) {
            @include fluid-padding('left', 20px, 70px, 100px, $app-container-width);
        }
        &__links nav li a {
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $color-white;
            padding-bottom: 10px;
            display: inline-flex;
            padding-bottom: 10px;
            overflow: hidden;
        }
        &__links nav li a:before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: $color-razzmatazz-light;
            transform: translateX(-100%);
        }
        &__links nav li a:hover:before {
            transform: translateX(0);
        }
        &__copyright {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: $color-white;
        }
    }
}
// burger

.menuToggle, .menuToggle-scroll {
    display: block;
    text-align: right;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.menuToggle-scroll {
    top: 26px;
}
.menuToggle span, .menuToggle-scroll span  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $color-white;
    border-radius: 3px;
}
.menuToggle-scroll span {
    background: black;
}
/////

.hide {
    display: none !important;
}
// slider

.section-container-slider {
    margin: 0 auto;
    max-width: $app-container-width;
    padding: 0 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    @media (max-height: 576px) and(orientation: landscape) {
        height: 700px !important;
    }
    &__title {
        margin-top: 0;
        font-family: $Georgia;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        @include fluid-font-size(32px, 100px, 320px, $app-container-width);
        line-height: 118.8%;
        color: $color-white;
    }
    &__description {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        @include fluid-font-size(17px, 20px, 320px, $app-container-width);
        line-height: 31px;
        color: $color-white;
        max-width: 380px;
        padding-bottom: 50px;
        @media (min-width: 320px) and (max-width: 350px) {
            padding-bottom: 25px;
        }
    }
    .button {
        padding: 15px 30px;
        @media (min-width: 320px) and (max-width: 350px) {
            padding: 15px;
        }
    }
}
.slick-dots {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    bottom: 40px;
    transform: translate(-50%);
}
.slick-dots li button {
    text-indent: -9999px;
    overflow: hidden;
    background: transparent;
    border: none;
    cursor: pointer;
}
.slick-dots li:not(:first-child) {
    margin-left: 10px;
}
.slick-dots li {
    background-color: $color-white;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}
.slick-dots li:hover {
    background-color: $color-violet-red;
}
.slick-dots .slick-active {
    background-color: $color-razzmatazz-light;
    border-radius: 100%;
}
.slick-next, .slick-prev {
    text-indent: -9999px;
    overflow: hidden;
    border: none;
    content: "";
    display: inline-block;
    height: 48px;
    width: 48px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 50;
}
.slick-prev {
    background: url('../img/buttons/prev.svg') no-repeat;
    bottom: 50%;
    left: 0;
    margin-left: 12vw;
    @media (min-width: $app-container-width) and (max-width: 1500px) {
        left: 0;
        margin-left: 7vw;
    }
    @media (min-width: 320px) and (max-width: #{$app-container-width - 1}) {
        left: 0;
        margin-left: 30px;
    }
}
.slick-next {
    background: url('../img/buttons/next.svg') no-repeat;
    bottom: 50%;
    right: 0;
    margin-right: 12.5vw;
    @media (min-width: $app-container-width) and (max-width: 1500px) {
        right: 0;
        margin-right: 7vw;
    }
    @media (min-width: 320px) and (max-width: #{$app-container-width - 1}) {
        right: 0;
        margin-right: 30px;
    }
}
.slick-next , .slick-prev {
    @media (min-width: 320px) and (max-width: #{$xs-vp-container-width - 1}) {
        bottom: 100px;
    }
    @media (min-width: 320px) and (max-width: 350px) {
        bottom: 65px;
    }
}
.slick-prev:hover {
    background: url('../img/buttons/arrow-prev.png') no-repeat;
    content: "";
    display: inline-block;
    height: 48px;
    width: 55px;
    border: none;
    cursor: pointer;
}
.slick-next:hover {
    background: url('../img/buttons/arrow-next.png') no-repeat;
    content: "";
    display: inline-block;
    height: 48px;
    width: 55px;
    border: none;
    cursor: pointer;
}
.btn-close-menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
// custom select

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}
.custom-select__trigger {
    border: 1px solid $color-tundora;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 40px;
    background: $color-white;
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-tundora;
}
.custom-options {
    position: absolute;
    display: block;
    bottom: -114px;
    left: 0;
    right: 0;
    border-top: 0;
    background: $color-white;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border-left: 1px solid $color-tundora;
    border-right: 1px solid $color-tundora;
    border-bottom: 1px solid $color-tundora;
    border-radius: 0 0 4px 4px;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 5px 30px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-tundora;
}
.custom-option:hover {
    cursor: pointer;
    background: $color-blackRock !important;
    color:$color-white;
}
.custom-option.selected {
    background: $color-blackRock !important;
    color:$color-white;
}
.arrow {
    position: relative;
    height: 20px;
    width: 20px;
}
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 100%;
    transition: all 0.5s;
}
.arrow::after {
    background: url('../img/arrow-select.png') no-repeat;
    height: 20px;
    width: 20px;
    top: 6px;
    right: 0;
}
.open .arrow::after {
    transform: rotate(180deg);
    top: -5px;
}